<!--inherits from this base -->
{% extends "base/base.html" %}

<!--page specific title -->
{% block title %} onze diensten {% endblock %}

<!--page specific css -->
{% block stylesheet %} {% endblock %}

<!--page specific content -->
{% block content %}
<div class=" text-center min-h-screen bg-white sm:items-center sm:pt-0">
    <br>
    <h1 class="text-4xl sm:text-5xl text-gray-800 font-extrabold tracking-tight">
        onze diensten
    </h1>
    <p class="text-normal text-lg sm:text-2xl font-medium text-gray-600 mt-2">
        deze pagina moet nog gemaakt worden.
    </p>
</div>
<!--Footer-->

{% endblock %}